{% extends "base.html" %}

{% block title %}Create or Update Task{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header bg-primary text-white">
            <h2 class="mb-0">{% if not task.pk %}Create Task{% else %}Update Task{% endif %}</h2>
          </div>
          <div class="card-body">
            <form method="post" action="{% url 'task-create' %}" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" class="form-control" required value={{task.title}}>
              </div>
              <div class="form-group">
                <label for="description">Description:</label>
                <textarea id="description" name="description" class="form-control" rows="4" >{{task.description}}</textarea>
              </div>
              <div class="form-group">
                <label for="due_date">Due Date:</label>
                <input type="date" id="due_date" name="due_date" class="form-control">
              </div>
              <div class="form-group">
                <label for="priority">Priority:</label>
                <select id="priority" name="priority" class="form-control">
                  <option value="Low">Low</option>
                  <option value="Medium">Medium</option>
                  <option value="High">High</option>
                </select>
              </div>
              <div class="form-group">
                <label for="is_complete">Completion Status:</label>
                <select id="is_complete" name="is_complete" class="form-control">
                  <option value="true">Complete</option>
                  <option value="false">Incomplete</option>
                </select>
              </div>
              <div class="form-group">
                <label for="photo">Upload Photo:</label>
                <input type="file" id="photo" name="photos" accept="image/*" class="form-control-file">
              </div>
              <button type="submit" class="btn btn-primary btn-block">{% if not task.pk %}Create{% else %}Update{% endif %}</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
